/* AdminSidebar.css */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: #0f172a; /* dark blue */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  z-index: 1000;
}

.logo-img {
  width: 190px;
  margin-bottom: 10px;
  background-color: white;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

.nav a {
  padding: 15px 25px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.nav a:hover,
.nav a:focus,
.nav a.active {
  background-color: #1e40af; /* blue highlight */
  color: white;
}
